<?xml version="1.0"?>

<config>
    <modules>
        <Turnto_Admin>
            <version>2.3.6</version>
        </Turnto_Admin>
    </modules> 

    <global>
        <blocks>
            <adminblock1>
            	<class>Turnto_Admin_Block</class>
           	</adminblock1> 
            <review>
                <rewrite>
                    <helper>Turnto_Admin_Block_Review_Helper</helper>
                </rewrite>
            </review> 
        </blocks>
        <helpers>
            <adminhelper1>
                <class>Turnto_Admin_Helper</class>
            </adminhelper1>
        </helpers>
        <models>
            <catalog>
                <rewrite>
                    <product>Turnto_Admin_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
            <turnto_admin>
                <class>Turnto_Admin_Model</class>
                <resourceModel>turnto_admin_resource</resourceModel>
            </turnto_admin>
            <turnto_admin_resource>
                <class>Turnto_Admin_Model_Resource</class>
                <entities>
                    <rating>
                        <table>turnto_products_ratings</table>
                    </rating>
                 </entities>
            </turnto_admin_resource>
        </models> 
        <resources>
            <turnto_admin_setup>
                <setup>
                    <module>Turnto_Admin</module>
                </setup>
            </turnto_admin_setup>
        </resources>   
	</global>    
	
	<frontend>
        <routers>
            <turntocatfeed>
                <use>standard</use>
                <args>
                    <module>Turnto_Admin</module>
                    <frontName>turntocatalogfeed</frontName>
                </args>
            </turntocatfeed>
	        <turntoversion>
                <use>standard</use>
                <args>
                    <module>Turnto_Admin_Adminhtml</module>
                    <frontName>turntoversion</frontName>
                </args>
            </turntoversion>
        </routers>
    </frontend>
	
	<admin>
		<routers>
		   <adminhtml>
                <args>
                    <modules>
		         		<turntorouter after="Mage_Adminhtml">Turnto_Admin_Adminhtml</turntorouter>
		       		</modules>
                </args>
		   </adminhtml>
	     </routers>    	
	</admin>

    <adminhtml>
        <menu>
            <turntoadminmenu translate="title" module="adminhelper1">
                <title>TurnTo</title>
                <sort_order>200</sort_order>
                <children>
                    <item1>
                        <title>Integration</title>
                        <action>adminhtml/turnto</action>
                        <sort_order>1</sort_order>
                    </item1>
                    <item2>
                        <title>Moderation</title>
                        <action>adminhtml/turnto/redirect</action>
                        <sort_order>2</sort_order>
                    </item2>
                    <item3>
                        <title>Reporting</title>
                        <action>adminhtml/turnto/redirect</action>
                        <sort_order>3</sort_order>
                    </item3>
                </children>
            </turntoadminmenu>
        </menu>
        <acl>
        <resources>
            <all>
               <title>Allow Everything</title>
            </all>
            <admin>
               <children>
                       <system>
                            <children>
                                <config>
                                    <children>
                                        <turnto_admin>
                                            <title>Turnto Products Ratings</title>
                                        </turnto_admin>
                                    </children>
                                </config>
                            </children>
                        </system>
               </children>
            </admin>
         </resources>
      </acl>
	</adminhtml>
    <default>
        <turnto_admin>
            <feedconfig>
                <url>http://static.www.turnto.com/static/export/</url>
            </feedconfig>
            <historicalfeedconfig>
                <storeId>1</storeId>
                <websiteId>1</websiteId>
            </historicalfeedconfig>
            <general>
                <static_url>http://static.www.turnto.com</static_url>
                <url>http://www.turnto.com</url>
                <upc_attribute nil="true"/>
                <mpn_attribute nil="true"/>
                <isbn_attribute nil="true"/>
                <ean_attribute nil="true"/>
                <jan_attribute nil="true"/>
                <asin_attribute nil="true"/>
                <brand_attribute nil="true"/>
            </general>
        </turnto_admin>
    </default>   
    <crontab>
        <jobs>
            <turnto_products_ratings>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>turnto_admin/observer::getProductsRatingsFeed</model>
                </run>
            </turnto_products_ratings>
            <turnto_historical_orders_feed>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>turnto_admin/observer::pushHistoricalOrdersFeed</model>
                </run>
            </turnto_historical_orders_feed>
        </jobs>
    </crontab>
</config>
