<?xml version="1.0"?>
<!--
/**
 * @package     Turnto_Admin
  */
-->
<config>
   <tabs>
        <turnto_extensions translate="label" >
            <label>TurnTo</label>
            <sort_order>260</sort_order>
        </turnto_extensions>
    </tabs>
    
    <sections>
        <turnto_admin translate="label" >
            <label>Configuration</label>
            <tab>turnto_extensions</tab>
            <frontend_type>text</frontend_type>
            <sort_order>261</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <site_key translate="label">
                            <label>Site Key*</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </site_key>
                        <site_auth translate="label">
                            <label>Authorization Key*</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </site_auth>
                        <version>
                            <label>Version</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>TurnTo version. Default is 4.3.  Should be in the (major).(minor) form.  Examples: 4.0, 4.1, 4.2, etc...</comment>
                        </version>
                        <static_url>
                            <label>Static URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Default is http://static.www.turnto.com. Should not ever be changed, unless instructed by TurnTo.</comment>
                        </static_url>
                        <url>
                            <label>URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Default is http://www.turnto.com. Should not ever be changed, unless instructed by TurnTo.</comment>
                        </url>
                        <image_store_base>
                            <label>Image Store Base</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Default is wac.edgecastcdn.net/001A39/prod. Should not ever be changed, unless instructed by TurnTo.</comment>
                        </image_store_base>
                        <static_cache_time>
                            <label>Static Content Cache Time</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This setting only applies when using a Setup Type of Static Embed. Value is in
                                seconds. Default is 900 (15 minutes).
                            </comment>
                        </static_cache_time>
                        <teaser_cache_time>
                            <label>Teaser Cache Time</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The amount of time to cache the TurnTo teasers. Value is in seconds. Default is 900
                                (15 minutes)
                            </comment>
                        </teaser_cache_time>
                    </fields>
                </general>
                <checkoutcomments>
                    <label>TurnTo Checkout Comments Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <checkoutcomments_enabled>
                            <label>Enabled Checkout Comments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkoutcomments_enabled>
                    </fields>
                </checkoutcomments>
                <qa>
                    <label>TurnTo Q&amp;A Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <qa_setup_type>
                            <label>Q&amp;A Setup Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Turnto_Admin_Block_Adminhtml_System_Config_Setuptype</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </qa_setup_type>
                        <qa_teaser_custom_enabled>
                            <label>Use Custom Q&amp;A Teaser</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </qa_teaser_custom_enabled>
                        <qa_teaser_custom translate="label comment">
                            <label>Custom Q&amp;A teaser function definition</label>
                            <comment>
                                <![CDATA[Place custom javascript here to be used as the custom Q&amp;A teaser function. Should be surrounded in a &lt;script&gt; tag]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <qa_teaser_custom_enabled>1</qa_teaser_custom_enabled>
                            </depends>
                        </qa_teaser_custom>
                        <qa_teaser_custom_function_name>
                            <label>Custom Q&amp;A teaser function name</label>
                            <comment>The name of the function defined in the "Custom Q&amp;A teaser function code"
                                field
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <qa_teaser_custom_enabled>1</qa_teaser_custom_enabled>
                            </depends>
                        </qa_teaser_custom_function_name>
                    </fields>
                </qa>
                <reviews>
                    <label>Turnto Reviews Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <reviews_teaser_custom_enabled>
                            <label>Use Custom Reviews Teaser</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>125</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reviews_teaser_custom_enabled>
                        <reviews_teaser_custom translate="label comment">
                            <label>Custom reviews teaser function definition</label>
                            <comment><![CDATA[Place custom javascript here to be used as the custom Reviews teaser function. Should be surrounded in a &lt;script&gt; tag]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><reviews_teaser_custom_enabled>1</reviews_teaser_custom_enabled></depends>
                        </reviews_teaser_custom>
                        <reviews_teaser_custom_function_name>
                            <label>Custom Reviews teaser function name</label>
                            <comment>The name of the function defined in the "Custom reviews teaser function definition" field</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><reviews_teaser_custom_enabled>1</reviews_teaser_custom_enabled></depends>
                        </reviews_teaser_custom_function_name>
                    </fields>
                </reviews>
                <mobileconfig>
                    <label>Turnto Mobile Configuration</label>
                    <comment><![CDATA[The default mobile landing page URL is &lt;baseurl&gt;/turntomobile]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <title translate="label">
                            <label>Mobile Landing Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </title>
                    </fields>
                </mobileconfig>
                <feedconfig translate="label" >
                    <label>Turnto Feed Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <feed_activation>
                            <frontend_model>adminblock1/adminhtml_system_config_feed</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </feed_activation>
                        <url translate="label">
                            <label>Products Ratings Feed url*</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </url>
                    </fields>
                 </feedconfig>
                <historicalfeedconfig>
                    <label>Historical Orders Feed Push</label>
                    <tab>turnto_extensions</tab>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled Historical Orders Feed Push</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When set to Yes, Turnto historical orders feed will be pushed to TurnTo nightly.</comment>
                        </enabled>
                        <storeId>
                            <label>Store ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </storeId>
                        <websiteId>
                            <label>Website ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </websiteId>
                    </fields>
                </historicalfeedconfig>
            </groups>
        </turnto_admin>
    </sections>
</config>
